.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 800px;
  height: 500px;
  border: solid 1px gray;
  padding-block: 10px;
  padding-inline: 50px;
  margin-top: 40px;
}