.studentInfoContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  border: solid 1px gray;
  padding-block: 20px;
  padding-inline: 50px;
  margin-top: 100px;
}

.title {
  margin-bottom: 50px;
}

.nameContainer,
.courseContainer,
.usernameContainer {
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.firstNameInput,
.lastNameInput {
  width: 250px;
}

.courseInput,
.emailInput {
  width: 100%;
}
.usernameInput {
  width: 100%;
}

.checkboxContainer,
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-block: 20px;
}
