.studentInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  max-width: 1200px;
  border: solid 1px gray;
  padding-block: 20px;
  padding-inline: 50px;
  margin-top: 100px;
}

.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nameContainer,
.courseContainer {
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.usernameContainer {
  display: flex;
  align-items: baseline;
  gap: 20px;
  justify-content: space-between;
  width: 350px;
}

.firstNameInput,
.lastNameInput {
  width: 250px;
}

.courseInput,
.emailInput {
  width: 100%;
}

.usernameInput {
  width: 100%;
}

.checkboxContainer,
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
