.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1200px;
  height: 500px;
  border: solid 1px gray;
  padding-block: 20px;
  padding-inline: 50px;
  gap: 20px;
  margin-top: 40px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 450px;
}

.rightContainer p {
  font-size: 15px;
}

.grid {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.grid > span {
  padding-right: 10px;
}

.info {
  font-weight: bold;
}